# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.turbo

# Cache and logs
.cache
*.log
.eslintcache
.npm
.pnpm-debug.log*

# Test coverage
coverage
.nyc_output

# Environment variables
.env
.env.*
!.env.example

# IDE and OS files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.tmp
*.temp
Thumbs.db
