# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.turbo

# Cache and logs
.cache
*.log

# Environment variables
.env
.env.*
!.env.example

# IDE and OS files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
